Repository aurora-is-near/aurora-workspace, pull requests merged in 2023-06, with the labels that each got.

#23 Feat: refactor `aurora-workspace` for Engine
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  res/mock_engine/Cargo.lock
  res/mock_engine/Cargo.toml
  res/mock_eth_connector/Cargo.lock
  res/mock_eth_connector/Cargo.toml
  rust-toolchain
  workspace-engine/Cargo.toml
  workspace-engine/src/contract.rs
  workspace-engine/src/lib.rs
  workspace-engine/src/operation.rs
  workspace-engine/tests/authorized_call_tests.rs
  workspace-engine/tests/engine_tests.rs
  workspace-engine/tests/engine_view_tests.rs
  workspace-engine/tests/fungible_token_tests.rs
  workspace-engine/tests/owner_call_tests.rs
  workspace-engine/tests/self_call_tests.rs
  workspace-engine/tests/utils.rs
  workspace-eth-connector/Cargo.toml
  workspace-eth-connector/src/contract.rs
  workspace-eth-connector/tests/fungible_token_tests.rs
  workspace-types/Cargo.toml
  workspace-types/src/input.rs
  workspace-types/src/lib.rs
  workspace-types/src/output/mod.rs
  workspace-types/src/output/submit_return.rs
  workspace-utils/Cargo.toml
  workspace-utils/src/lib.rs
  workspace-utils/src/results.rs
  workspace/src/contract.rs
  workspace/src/operation.rs
  workspace/src/result.rs
Labels: refactoring, enhancement, engine

#31 chore: prepare for usage in engine tests
  Cargo.lock
  Makefile
  res/mock_engine/Cargo.lock
  res/mock_engine/Cargo.toml
  res/mock_engine/README.md
  res/mock_engine/rust-toolchain.toml
  res/mock_engine/src/fungible_token.rs
  res/mock_engine/src/lib.rs
  res/mock_engine/src/submit.rs
  res/mock_eth_connector/Cargo.lock
  res/mock_eth_connector/Cargo.toml
  workspace-engine/Cargo.toml
  workspace-engine/src/contract.rs
  workspace-engine/src/lib.rs
  workspace-engine/src/operation.rs
  workspace-engine/tests/authorized_call_tests.rs
  workspace-engine/tests/engine_tests.rs
  workspace-engine/tests/engine_view_tests.rs
  workspace-engine/tests/fungible_token_tests.rs
  workspace-engine/tests/owner_call_tests.rs
  workspace-engine/tests/self_call_tests.rs
  workspace-engine/tests/utils.rs
  workspace-eth-connector/Cargo.toml
  workspace-eth-connector/src/lib.rs
  workspace-types/Cargo.toml
  workspace-types/src/input.rs
  workspace-types/src/lib.rs
  workspace-utils/src/lib.rs
  workspace-utils/src/macros.rs
  workspace-utils/src/transactions.rs
Labels: enhancement, engine

#30 Feat: Engine tests and mock refactoring
  Cargo.lock
  Makefile
  res/mock_engine/Cargo.lock
  res/mock_engine/src/lib.rs
  workspace-engine/Cargo.toml
  workspace-engine/src/contract.rs
  workspace-engine/src/lib.rs
  workspace-engine/src/operation.rs
  workspace-engine/tests/engine_tests.rs
  workspace-engine/tests/self_call_tests.rs
Labels: enhancement, engine, tests

#32 chore: add missing functions
  Cargo.lock
  res/mock_engine/src/lib.rs
  workspace-engine/src/contract.rs
  workspace-engine/src/lib.rs
  workspace-engine/src/operation.rs
  workspace-eth-connector/src/lib.rs
  workspace-utils/src/lib.rs
  workspace-utils/src/results.rs
Labels: enhancement, engine

#33 chore: remove types and refactoring
  Cargo.lock
  Cargo.toml
  Makefile
  engine/Cargo.toml
  engine/src/contract.rs
  engine/src/lib.rs
  engine/src/operation.rs
  engine/tests/authorized_call_tests.rs
  engine/tests/engine_tests.rs
  engine/tests/engine_view_tests.rs
  engine/tests/fungible_token_tests.rs
  engine/tests/owner_call_tests.rs
  engine/tests/self_call_tests.rs
  engine/tests/utils.rs
  eth-connector/Cargo.toml
  eth-connector/src/contract.rs
  eth-connector/src/lib.rs
  eth-connector/src/operation.rs
  eth-connector/src/types.rs
  eth-connector/tests/fungible_token_tests.rs
  res/mock_eth_connector/Cargo.toml
  utils/Cargo.toml
  utils/src/lib.rs
  utils/src/macros.rs
  utils/src/results.rs
  utils/src/transactions.rs
  workspace-types/src/error.rs
  workspace-types/src/input.rs
  workspace-types/src/lib.rs
  workspace-utils/Cargo.toml
Labels: refactoring, enhancement

#35 Feat: set AccountId as trait parameter
  eth-connector/src/contract.rs
  eth-connector/tests/fungible_token_tests.rs
Labels: enhancement, eth-connectot
